* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-field {
  display: grid;
  width: 640px;
  height: 640px;
  box-sizing: content-box;
  border: 3px solid black;
}
