* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.game-field {
  display: grid;
  gap: 0px;
  width: 640px;
  height: 640px;
  box-sizing: content-box;
  border: 3px solid black;
}

.game-controllers {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controller {
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 3px;
}

.size-changer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 35px;
}

.field-size-value {
  font-size: 20px;
  font-style: italic;
}
